@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Zen+Dots&display=swap");

$color-white: #ffffff;
$background-color: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
$nav-background: linear-gradient(262deg, #fbab7e 0%, #f7ce68 100%);
$color-salmon: #fc8f52;
$color-black: #000000;
$color-red: #df0a0a;
$color-gray: #7e7e7e;
$color-orange: #ffcc70;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
$title-font: "Zen Dots", cursive;
$main-font: "Montserrat", sans-serif;
